archinfo==9.2.96
bitarray==2.9.2
bitstring==4.1.4
capstone==5.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cle==9.2.96
colorama==0.4.6
idna==3.6
pefile==2023.2.7
pycparser==2.21
pyelftools==0.31
Pygments==2.17.2
pyvex==9.2.96
requests==2.31.0
sortedcontainers==2.4.0
urllib3==2.2.1
